body{
    text-align: center;
}
.choice-button{
    height: 120px;
    width: 120px;
    /* border: none; */
    margin: 10px;
    background-color: blanchedalmond;
    border-radius: 10%;
    border-color: brown;
    cursor: pointer;
}
.choice-img{
    height: 90px;
    width: 90px;
}
h1{
    color: rgb(107, 176, 38);
    text-decoration: underline;
   text-decoration-style:solid;
   text-decoration-color:cadetblue;
   
}
